.calculator {
    width: 320px; /* 寬度為 320 像素 */
    color: white; /* 文字顏色為白色 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 字體為 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    border-radius: 10px; /* 圓角半徑為 10px */
    background-color: grey; /* 背景色為灰色 */
    margin: auto; /* 自動外邊距 */
    padding: 10px; /* 內邊距為 10px */
}

.board {
    display: inline-block; /* 內聯區塊元素 */
    margin: 10px; /* 外邊距為 10px */
}

.display {
    width: 100%; /* 寬度為 100% */
    height: 75px; /* 高度為 75px */
    background-color: black; /* 背景色為黑色 */
    text-align: right; /* 文字右對齊 */
    font-size: 50px; /* 字體大小為 50px */
    border-radius: 5px; /* 圓角半徑為 5px */
}

.btn {
    background-color: #323232; /* 背景色為 #323232 */
    color: white; /* 文字顏色為白色 */
    width: 60px; /* 寬度為 60px */
    height: 60px; /* 高度為 60px */
    font-size: 25px; /* 字體大小為 25px */
    border-radius: 50%; /* 圓角半徑為 50% */
    outline: none; /* 取消外框線 */
    border: 0px; /* 邊框寬度為 0px */
    padding: 5%; /* 內邊距為 5% */
    margin: 5px; /* 外邊距為 5px */
    cursor: pointer; /* 指針樣式為手型 */
}

.btn-action {
    background-color: brown; /* 背景色為棕色 */
    color: bisque; /* 文字顏色為 bisque */
}

.btn-operator {
    background-color: coral; /* 背景色為珊瑚色 */
}

.btn-0 {
    width: 130px; /* 寬度為 130px */
    border-radius: 30px; /* 圓角半徑為 30px */
}

.btn:hover{
    background-color: white; /* 滑鼠懸停時背景色為白色 */
    color: black; /* 文字顏色為黑色 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* 添加陰影效果 */
}

.btn:active{
    background-color: darkred; /* 按下時背景色為深紅色 */
    color: white; /* 文字顏色為白色 */
}
